Library*/

ProjectSettings*/
obj\Debug*/
Temp*/
obj\Debug*/
obj\Debug*/
__GameTest_Data\Mono\etc\mono\1.0*/
__GameTest.exe
__GameTest_Data*/
obj\Debug*/
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache